<header class="site-header">
  <div class="container header-container">
    
    <a href="{{ site.baseurl }}/fr/" class="site-logo" aria-label="Retour à l'accueil">
      <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="B.L Motorsport" class="logo-img">
    </a>

    <nav class="desktop-nav">
      <ul>
        <li><a href="{{ site.baseurl }}/fr/">Accueil</a></li>
        
        <li class="has-dropdown">
          <a href="{{ site.baseurl }}/fr/prestations">Prestations <span class="arrow">▼</span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/fr/entretien-prestige-combloux/">Entretien & Révision</a></li>
            <li><a href="{{ site.baseurl }}/fr/refection-moteur-boite-prestige/">Réfection Moteur & Boîte</a></li>
          </ul>
        </li>

        <li><a href="{{ site.baseurl }}/fr/restauration-vehicules-collection/">Restauration</a></li>
        <li><a href="{{ site.baseurl }}/fr/competition-racing-trackday/">Racing</a></li>
        <li><a href="{{ site.baseurl }}/fr/contact">Contact</a></li>
      </ul>
    </nav>

    <div class="lang-switch">
  <a href="{{ site.baseurl }}/fr/" class="active">FR</a>
  <span class="sep">|</span>
  <a href="#">EN</a>
  <span class="sep">|</span>
  <a href="#">IT</a>
  <span class="sep">|</span>
  <a href="#">DE</a>
</div>

      <button class="mobile-toggle" aria-label="Ouvrir le menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </div>
  </div>

  <div class="mobile-nav-overlay">
  <div class="mobile-menu-content">
    <div class="mobile-menu-header">
      <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="B.L Motorsport" class="mobile-logo">
    </div>
    
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/fr/">Accueil</a></li>
        <li class="mobile-sep"></li>
        <li><a href="{{ site.baseurl }}/fr/entretien-prestige-combloux/" class="sub-link">Entretien & Révision</a></li>
        <li><a href="{{ site.baseurl }}/fr/refection-moteur-boite-prestige/" class="sub-link">Réfection Moteur & Boîte</a></li>
        <li><a href="{{ site.baseurl }}/fr/restauration-vehicules-collection/" class="sub-link">Restauration</a></li>
        <li><a href="{{ site.baseurl }}/fr/competition-racing-trackday/" class="sub-link">Racing</a></li>
        <li class="mobile-sep"></li>
        <li><a href="{{ site.baseurl }}/fr/contact">Contact</a></li>
      </ul>
    </nav>

    <div class="mobile-menu-footer">
      <div class="social-links">
        <a href="{{ site.company.instagram }}" target="_blank">{% include icons/instagram.svg %}</a>
        <a href="{{ site.company.facebook }}" target="_blank">{% include icons/facebook.svg %}</a>
      </div>
      <p>Combloux, Haute-Savoie</p>
    </div>
  </div>
</div>
</header>
