---
---

/* Test simple pour voir si la connexion marche */
body {
  background-color: #000000; /* Fond Noir */
  color: #ffffff; /* Texte Blanc */
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

h1, h2, a {
  color: #FFD700; /* Jaune */
}
